<div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
  <div id="greentea-id-<%= greentea.id %>">
    <div class="card card-side bg-secondary-focus shadow-xl">
      <div class="card-body items-center text-center">
        <div data-turbo="false">
        <%= link_to greentea.name, greentea_path(greentea), class: 'btn btn-wide btn-success', style: 'color: white' %>
        </div>
        <div class="card-actions justify-end">
          <div class="p-2.5">
            <!-- タグ表示 -->
            <% greentea.genres.each do |genre| %>
            <span class="mx-1 badge badge-accent">
              <%= genre.name %>
            </span>
            <% end %><br>
            <div class="p-1.5">
              <%= greentea.address %><br>
            </div>
            <div class="p-1.5">
              <%= greentea.access %><br>
            </div>
            <div class="p-1.5">
              <%= greentea.holiday %>
            </div>
            <!-- いいねボタン -->
            <% if logged_in? %>
              <%= render 'greentea_like_button', greentea: %>
            <% else %>
              <div data-turbo="false">
              <%= render 'shared/before_login_like' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
