<div class="artboard-demo bg-secondary-focus sm:col-span-2 p-3.5 items-center text-center">
  <div class="sm:col-span-2 p-3.5">
    <h2 class="text-center font-bold font-serif text-xl">キーワードで検索</h2>
  </div>
    <div class="p-3.5">
    <%= search_form_for @search, html: { data: { turbo_frame: "greentea-list" } } do |f| %>
    <%= f.search_field :name_or_description_or_address_or_access_cont, class: 'input input-bordered input-success w-full max-w-xs text-center text-xl', placeholder: 'キーワード' %>
    </div>
    <div class="p-3.5">
    <h2 class="text-center font-bold font-serif text-xl">カテゴリで検索</h2>
    </div>
    <div class="p-3.5">
      <% Genre.all.each do |genre| %>
      <%= f.check_box :greentea_genres_genre_id_eq_any, { multiple: true, checked: genre[:checked], disabled: genre[:disabled], include_hidden: false, style: 'transform: scale(1.5);' }, genre[:id] %>
      <%= f.label :greentea_genres_genre_id_eq_any, genre.name, { class: 'font-bold font-serif text-lg' }, value: genre[:id] %>
      <% end %>
    </div>
    <div class="p-3.5">
      <%= f.submit (t 'defaults.search'), class: 'btn btn-wide btn-accent-focus', style: 'color: white' %>
    </div>
    <% end %>
</div>
</div>
