<%= content_for(:title, t('.title')) %>
<div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
  <h1 class='font-serif text-3xl font-bold text-center'><%= t('.title') %></h1>
    <!-- 検索フォーム -->
    <div class="p-3.5">
      <%= render 'search_form', url: greenteas_path %>
    </div>
    <!-- 抹茶スイーツ一覧 -->
    <div class="p-3.5">
      <% if @greenteas.present? %>
        <div class='font-serif text-3xl font-bold text-center'>
          <%= "#{@greenteas.total_count}店ヒットしました！" %>
        </div>
        <%= render @greenteas %>
      <% else %>
        <p class='font-serif text-3xl font-bold text-center'><%= t('.no_result') %>
      <% end %>
    </div>
    <!-- ページネーション -->
    <div class="container mx-14">
      <%= paginate @greenteas %>
    </div>
    <div class='container mx-auto flex justify-center items-center p-3'>
    <%= link_to root_path, class: 'btn btn-sm btn-warning-content' do %>
      <svg class="mr-2 -ml-1 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-skip-backward-fill" viewBox="0 0 16 16"> <path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z" /></svg>戻る
    <% end %>
    </div>
</div>
