<%= content_for(:title, t('.title')) %>
<div data-turbo="false">
  <div class="container mx-auto my-4">
    <h1 class='font-serif text-3xl font-bold text-center'><%= t('.title') %></h1>
    <!-- 検索フォーム -->
    <div class="p-3.5">
      <%= render 'search_form', url: greenteas_path %>
    </div>
    <!-- 抹茶スイーツ一覧 -->
    <div class="p-3.5">
      <% if @greenteas.present? %>
        <div class='font-serif text-3xl font-bold text-center', style= 'color: red'><%= "#{@greenteas.total_count}件ヒットしました！" %></div>
        <%= render @greenteas %>
      <% else %>
        <p class='font-serif text-3xl font-bold text-center', style= 'color: red'><%= t('.no_result') %></p>
      <% end %>
    </div>
    <!-- ページネーション -->
    <div class="container mx-14">
      <%= paginate @greenteas %>
    </div>
  </div>
</div>
