<div class="container mx-auto my-4">
  <%= form_with model: @user, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
       </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
        <%= f.submit (t 'defaults.register'), class: 'btn btn-wide btn-accent-focus', style: 'color: white' %>
    <% end %>
</div>
