<%= content_for(:title, t('.title')) %>
<div data-turbo="false">
  <h1 class='font-serif text-3xl font-bold text-center p-2'><%= t('.title') %></h1>
  <div class="container mx-auto flex justify-center items-center">
    <div class='p-3'>
      <div class="card lg:card bg-info-content shadow-xl">
        <div class="card-body">
          <h2 class="card-title">
            <div class="card-actions justify-end">
              <%= form_with model: @user, local: true do |f| %>
              <%= f.label :name %>
              <div class='p-3'>
                <%= f.text_field :name, placeholder: 'ニックネームを入力' %>
              </div>
              <div class="actions">
                <%= f.submit (t 'defaults.update'), class: 'btn btn-wide btn-accent' %>
              </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container mx-auto flex justify-center items-center p-3'>
  <%= link_to user_path(current_user), class: 'btn btn-sm btn-warning-content' do%>
    <svg class="mr-2 -ml-1 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-skip-backward-fill" viewBox="0 0 16 16"> <path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z"/></svg>Back
  <% end %>
</div>
