<%= content_for(:title, t('.title')) %>
<div class="container mx-auto my-4">
<h1><%= t '.title' %></h1>

<%= render 'form', user: @user %>
<%= link_to 'Login with Tsitter', auth_at_provider_path(provider: :twitter) %>
<%= link_to 'Login with Line', auth_at_provider_path(provider: :line) %>
</div>
