<header>
  <div class="navbar bg-base-200">
    <div class="navbar-start">
      <button class="btn btn-square btn-ghost">
        <%= link_to root_path do %>
          <%= image_tag 'logo2.png' %>
        <% end %>
      </button>
    </div>
    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-square btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </label>
        <ul tabindex="0" class="menu menu-conpact dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 text-left">
          <li><%= link_to 'TOPページへ戻る', root_path %></li>
          <li><%= link_to '会員登録/ログイン', login_path %></li>
        </ul>
      </div>
    </div>
    <div class="navbar-end hidden lg:flex">
      <ul class="menu menu-horizontal p-0 mr-2">
        <li><%= link_to 'TOPページへ戻る', root_path %></li>
        <li><%= link_to '会員登録/ログイン', login_path %></li>
      </ul>
    </div>
  </div>
</header>
