<% @temples.each do |temple| %>
  <div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
    <div class="card card-side bg-primary shadow-xl">
      <div class="card-body items-center text-center">
      <!-- 距離表示 -->
        <%
=begin%>
 中心から<%= "#{@greentea.get_distance(@latitude, @longitude)} " %>m 
<%
=end%>
        <%= link_to temple.name, temple_path(temple), class: 'btn btn-wide btn-error', style: 'color: white' %>
        <div class="card-actions justify-end">
          <div class="p-3.5">
            <!-- タグ表示 -->
            <% temple.areas.each do |area| %>
            <span class="mx-1 badge badge-accent">
              <%= area.name %>
            </span>
            <% end %><br>
            <div class="p-3.5">
              <%= temple.address %><br>
            </div>
            <div class="p-3.5">
              <%= temple.holiday %><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
