<div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
  <div id="temple-id-<%= temple.id %>">
    <div class="card card-side bg-primary shadow-xl">
      <div class="card-body items-center text-center">
        <div data-turbo="false">
        <%= link_to temple.name, temple_path(temple), class: 'btn btn-wide btn-error', style: 'color: white' %>
        </div>
          <div class="card-actions justify-end">
            <div class="p-1.5">
              <!-- タグ表示 -->
              <% temple.areas.each do |area| %>
              <span class="mx-1 badge badge-accent">
                <%= area.name %>
              </span>
              <% end %>
              <div class="p-1.5">
                <%= temple.address %>
              </div>
              <div class="p-1.5">
                <%= temple.access %><br>
              </div>
                <div class="p-1.5">
                <%= temple.holiday %>
              </div>
              <!-- いいねボタン -->
              <% if logged_in? %>
                <%= render 'temple_like_button', temple: %>
              <% else %>
                <div data-turbo="false">
                <%= render 'shared/before_login_like' %>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
