<%= content_for(:title, t('.title')) %>
<div data-turbo="false">
  <div class="container mx-auto my-4">
    <h1 class='font-serif text-3xl font-bold text-center'><%= t('.title') %></h1>
    <!-- 検索フォーム -->
    <div class="p-3.5">
      <%= render 'search_form', url: temples_path %>
    </div>
    <!-- 抹茶スイーツ一覧 -->
    <div class="p-3.5">
      <% if @temples.present? %>
        <div class='font-serif text-3xl font-bold text-center'><%= "#{@temples.total_count}社ヒットしました！" %></div>
        <%= render @temples %>
      <% else %>
        <p class='font-serif text-3xl font-bold text-center'><%= t('.no_result') %>
      <% end %>
    </div>
    <!-- ページネーション -->
    <div class="container mx-14">
      <%= paginate @temples %>
    </div>
  </div>
</div>
