<div class="max-w-screen-md grid sm:grid-cols-2 mx-auto">
  <div class="sm:col-span-2 p-3.5 items-center text-center">
    <div class="container mx-auto mt-24 py-5 px-5 bg-primary md:rounded-3xl md:px-20">
     <!-- 神社仏閣の情報 -->
    <h1><%= @temple.name %></h1>
    <li><%= @temple.description %></li>
    <li> <%= @temple.phone_number %></li>
    <li><%= @temple.address %></li>
    <li> <%= @temple.access %></li>
    <li><%= @temple.business_hours %></li>
    <li><%= @temple.homepage %></li>
    <li><%= @temple.holiday %></li>
     <!-- 近くの抹茶スイーツ店を表示する -->
    近くの抹茶スイーツ店
     <%= render 'shared/greentea',{ greentea: @greentea } %> 
    <!-- タグ表示 -->
    </div>
    <!-- 戻るリンク -->
    <%=link_to "検索ページへ戻る", temples_path %>
  </div>
</div>